@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



@layer components {
  .sidebar {
    @apply w-[260px] h-full;
  }
  .custom-group-hover {
    @apply group-hover:z-[10] group-hover:opacity-100 opacity-0 transition-opacity duration-300;
  }
  .custom-gradient-bg {
    @apply bg-gradient-to-l from-[#e3e3e3] via-[#e3e3e3] to-transparent;
  }
  .custom_transition {
    @apply transition-all ease-in;
  }
}
